<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Information</title>
</head>
<body>
    <%  const { leagueName, leagueID, leagueSeason, leagueStandings } = standings; %>
    <h1><%= leagueName %></h1>
    <div>
        <h2>Current Standings</h2>
        <div>
            <% for(let team of leagueStandings){ %>
                <% const { teamID, teamName, teamPoints, teamRanking } = team; %>
                <p><%= teamRanking %>. <%= teamName %> -  <%= teamPoints %></p>
            <% } %>
         </div>
    </div>
    <a href="/football/<%= league %>/fixtures">View Fixtures</a>
</body>
</html>