<!DOCTYPE html>
 <html>
 <head></head>
 <body>
 <%for (let team of fixturelineup){%>
    <%   const { startXI, team: TeamName } = team;%>  
    <%   const { name: Tname }= TeamName;%>
    <%= Tname %>
    <%for (let player of startXI) {%>
        <%const name = player.player.name;%>
        <%const number = player.player.number;%>
        <%const pos = player.player.pos;%>
        <%const grid = player.player.grid;%>
        <%const team = player.player.team;%>
        <li> <%=name%> <%=number%> <%=pos%> <%=grid%> <%=team%></li>
    <%}%>

<%}%>
</body>
</html>
