<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches For <%= date %></title>
</head>
<body>
    <h1>Matches For <%= date %></h1>
    <% for(let match of matches){ %>
        <% const { date, team1, team2, score} = match; %>
        <% const team1Score = score.ft[0]; %>
        <% const team2Score = score.ft[1]; %>
        <div>
            <h2><%= team1 %> vs <%= team2 %></h2>
            <h3>Date: <%= date %></h3>
            <p><%= team1Score %> vs <%= team2Score %></p>
        </div>
    <% } %>
</body>
</html>