<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches For <%= date %></title>
</head>
<body>
    <h1>Matches For <%= date %></h1>
    <ul>
        <% for(let i = 0; i < leagueFixturesByDate.length; i++) { %>
            <% const { fixture, league: leaguein, teams, goals, score } = leagueFixturesByDate[i]; %>
            <% const { id: fixtureID, referee, timezone, date, timestamp,
                    periods: { first: firstPeriod, second: secondPeriod }, 
                    venue : { id: venueID, name: venueName, city: venueCity}, 
                    status: { long: statusLong, short: statusShort, elapsed}} = fixture; %>
            <% const { id: leagueID, name: leagueName, country, logo, flag, season, round } = leaguein; %>
            <% const { home : { id: homeID, name: homeName, logo: homeLogo, winner: homeIsWinner}, 
                    away: { id: awayID, name: awayName, logo: awayLogo, winner: awayIsWinner} } = teams; %>
            <% const { home: homeGoals, away: awayGoals} = goals; %>
            <% const { halftime: { home: homeGoalsHT, away: awayGoalsHT },
                    fulltime: { home: homeGoalsFT, away: awayGoalsFT },
                    extratime: { home: homeGoalsET, away: awayGoalsET },
                    penalty: { home: homeGoalsPT, away: awayGoalsPT } } = score; %>
    
        <div>
            <h2>Home: <%= homeName %> vs Away: <%= awayName %> fixtureid: <%= fixtureID %></h2>
            <img src="<%= homeLogo %>" alt="<%= homeName %> Logo">
            <img src="<%= awayLogo %>" alt="<%= awayName %> Logo">
            <h3>Stadium:<%= venueName %> City: <%= venueCity %></h3>
            <% if(statusLong === "Not Started"){ %>
                <p>Match Status: To Be Played</p>
            <% } else if (statusLong === "Match Postponed") { %>
                <p>Match Status: Postponed</p>
            <% } else if (statusLong === "First Half" || statusLong === "Second Half" || statusLong === "Halftime") { %>
                <p>Match Status: <%= statusLong %></p>
                <p>Score: <%= homeGoalsHT %> vs <%= awayGoalsHT %></p>
            <% } else { %>
                <p> Match Status: Completed</p>
                <p>Score: <%= homeGoalsFT %> vs <%= awayGoalsFT %></p>
            <% } %>

            <br>
            <a href="/football/<%= league %>/fixture-linenup/<%= fixtureID %>">fixtureid: <%= fixtureID %></a>
            
         <!-- <button>View Lineups</button> -->
        </div>
    
        <% } %>
</body>
</html>